@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Sawarabi+Mincho&display=swap');

body {
    padding-top: -4rem;
}

h1, h2, h3, h4 {
    color: white;
    font-family: 'Noto Sans JP', sans-serif;
}

p, ul, li {
    color: white;
    font-family: 'Sawarabi Mincho', sans-serif;
}

#bg {
    background-color: #343A40;
}

.jumbotron {
    background-color: #343A40 !important;
}

#section-post {
    padding-right: 16rem !important;
}